.btn-start {
  min-width: 336px;
  max-width: 336px;
  height: 40px;
  font-size: 14.6px;
  background-color: #1890ff;
  border-color: #1890ff;
  border-radius: 2px;
  color: white;
  border-style: none;
  cursor: pointer;
}
.btn-start:hover {
  background-color: #3d9ffc;
}
.post {
  margin-top: 20px;
}
article > .post > h2 {
  color: white;
}
.post p {
  color: #bed7ee;
}
